@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;

}

.welcome {
  margin-top: 200px;
  margin-bottom: 50px;
}

.login-area {
  box-shadow: 10px 10px 5px #aaaaaa;
}

.mail-input ,
.password-input {
  width: 100%;
}

#login-btn {
  cursor: pointer;
}

#transaction-area {
  display:  none;
  padding: 100px;
}

.deposit {
  background-color: slateblue;
}

.withdraw {
  background-color: lightsalmon;
}

.balance {
  background-color: orange;
}

.status {
  margin: 0 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.input-field{
  margin-top: 100px;
}